.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.course {
  width:60px;
  height:80px;
  border-style:solid;
  border-width:1px;
  cursor: pointer;
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move;
  z-index: 5;
}

.course p {
  text-align:center;
}

.course:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  z-index:10;
}

.MATH {
  background-color:cyan;
}

.STAT {
  background-color:red;
}

.SWEN {
  background-color:orange;
}

.year {
  background-color:#EEE8D5;
}



