.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.course {
  width:60px;
  height:80px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width:1px;
  cursor: pointer;
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move;
  z-index: 5;
}

.course p {
  text-align:center;
}

.course:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  z-index:10000;
}

.MATH {
  background-color:cyan;
}

.STAT {
  background-color:red;
}

.SWEN {
  background-color:orange;
}

.list {
  list-style: none outside none;
  margin: 10px 0 30px;
  border: 2px solid gray;
  margin: 10px 10px 0 0;
  padding: 5px;
}

.courseCol {
  background-color:#EEE8D5;
  width:90px;
  min-height:400px;
  max-height:800px;
}

.year-row {
  margin-top:20px;
}

.year-header {
  background-color:#EEE8D5;
  height:50px;
}

.year-header h2 {
  text-align:center;
}
.right {
  position:absolute;
  right:0px;
}
/* disable bootstrap responsiveness */
.container {
  width: 970px !important;
}



