<!DOCTYPE html>
<html ng-app="CoursePlanner">
<head>
  <meta charset=utf-8 />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="CoursePlanner.css">
  <title>Course Planner</title>
</head>
<body ng-controller="courseCtrl">
<div class="container">
<div class="row">
  <div class="col-xs-3" ng-repeat="year in years track by $index">
   <div class="year-header">
     <input type="text" ng-model="years[$index].title"></input>
   </div>
   <div class="row year-row">
     <ul ng-repeat="semester in year.semesters" class="col-xs-1 connectedSortable courseCol list" sortable>
       <li ng-repeat="c in semester" ng-model="c" data-index="{{index}}"
	       class="course {{c.subj}}">
         <input class="course-detail" maxlength="4" ng-model="c.subj"  />
	 <input class="course-detail" ng-model="c.num"  />
	 <input class="course-detail num" maxlength="1" ng-model="c.credits"  />
       </li>
       <button class="addCourseButton" addcourse>Add</button>
     </ul>
    
    </div><!-- row -->
   </div><!-- col -->
  </div><!-- row -->
  
  
  
  <div class="row">
    <b>Years:</b>
    <div ng-repeat="year in years">
      <p>{{year.title + year.semester1}}</p>
      <b>{{year.title}}</b>
      <p ng-repeat="c in year.semester1">{{c.subj + c.num}}</p>
    </div>
  </div>
</div> <!-- container-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="CoursePlanner.js"></script>
<script>
$(document).ready(function() {

  $(".num").keypress(function(e) {
    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
      return false;
    }
  });

});
</script>
</body>
</html>
