<!DOCTYPE html>
<html ng-app="CoursePlanner">
<head>
  <meta charset=utf-8 />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="CoursePlanner.css">
  <title>Course Planner</title>
</head>
<body ng-controller="courseCtrl">
<div class="container">
<div class="row">
  <div class="col-xs-3" ng-repeat="year in years track by $index">
   <div class="year-header">
     <input type="text" ng-model="years[$index].title"></input>
   </div>
   <button addsemester>Add Semester</button>
   <div class="row year-row">
    <div ng-repeat="semester in year.semesters" class="col-xs-6">
      <ul class="connectedSortable courseCol list" sortable>
       <li ng-repeat="c in semester.classes" ng-model="c" data-index="{{index}}"
	       class="course {{c.subj}}">
         <subj class="course-detail" ng-model="c.subj"></subj>
         <num class="course-detail" ng-model="c.num"></num>
         <cred class="course-detail" ng-model="c.credits"></cred>
       </li>
      </ul>
       <button class="addCourseButton" addcourse>Add</button>
     </div>
    </div><!-- row -->
   </div><!-- col -->
  <button addyear>Add Year</button>
  </div><!-- row -->
</div> <!-- container-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="CoursePlanner.js"></script>
</body>
</html>
