<div class="jumbotron">
    <div class="container">
        <center>
            <h1>Register</h1>
        </center>

        <div class="col-sm-4 col-sm-offset-4">
            <labeled-text name="'Username'" model="user.username"></labeled-text>
            <labeled-text name="'School'" model="user.school"></labeled-text>
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
            <input type="password" class="form-control" placeholder="Repeat Password" ng-model="repeatedPassword" />
            <button class="btn btn-small btn-primary" ng-click="register()">Register</button>
            <a ui-sref="landing" class="pull-right" style="padding:6px 12px">Back</a>
        </div>
    </div>
</div>
