@import url("course.css");
@import url("coursecolors.css");
@import url("sidebar.css");

html {
  margin:0;
  padding:0;
  height:100%;
  background-color:#DFE2DB;
}

body {
  margin:0;
  padding:0;
  height:100%;
  background-color:#DFE2DB;
}

.container-main {
  width:100%;
  /* Firefox */
  height: -moz-calc(100% - 34px);
  /* WebKit */
  height: -webkit-calc(100% - 34px);
  /* Opera */
  height: -o-calc(100% - 34px);
  /* Standard */
  height: calc(100% - 34px);
  padding-top:0;
  margin-top:0;
}

.plan-title {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding-top:2px;
  margin-top:2px;
}

.row {
  display:table-row;
}

.year-col {
    display:table-cell;
    padding-left:15px;
    vertical-align:top;
    white-space:normal;
    min-width:190px;
}

.year-col-placeholder {
    display:table-cell;
    padding-left:15px;
    vertical-align:top;
    white-space:normal;
    min-width:150px;
    background-color:gray;
}

.semester-col {
  display:table-cell;
  padding-left:10px;
  vertical-align:top;
}

.addCourseButton {
  margin:auto;
}

.cap {
  text-transform:uppercase;
}

.list {
  list-style: none outside none;
  margin: 10px 0 30px;
  border: 2px solid gray;
  margin: 10px 10px 0 0;
  padding: 5px;
}

.courseCol {
  background-color:#EEE8D5;
  width:80px;
  min-height:390px;
  max-height:800px;
  text-align:center;
}

.year-row {
  margin-top:20px;
}

.year-header {
  background-color:#EEE8D5;
  height:auto;
  border: 2px solid gray;
  text-align:center;
  cursor: url(cursors/openhand.cur), move;
}

.year-header h3 {
  display:table-cell;
}

.year-header input {
  text-align:center;
  background:#EEE8D5;
  display:block;
  margin:0 auto;
}

.year-header:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  z-index:10;
}

.error {
  color:red;

  -moz-animation: cssAnimation 0s ease-in 9s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 9s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 9s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 9s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}
