@import url("course.css");
@import url("coursecolors.css");

html {
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
}

.container {
  display:table;
  white-space:nowrap;
}

.row {
  display:table-row;
}

.year-col {
    display:table-cell;
    padding-left:15px;
    vertical-align:top;
    white-space:normal;
    min-width:190px;
}

.year-col-placeholder {
    display:table-cell;
    padding-left:15px;
    vertical-align:top;
    white-space:normal;
    min-width:150px;
    background-color:gray;
}

.semester-col {
  display:table-cell;
  padding-left:10px;
  vertical-align:top;
}

.addCourseButton {
 margin:auto;
}

.cap {
  text-transform:uppercase;
}

.list {
  list-style: none outside none;
  margin: 10px 0 30px;
  border: 2px solid gray;
  margin: 10px 10px 0 0;
  padding: 5px;
}

.courseCol {
  background-color:#EEE8D5;
  width:80px;
  min-height:400px;
  max-height:800px;
  text-align:center;
}

.year-row {
  margin-top:20px;
}

.year-header {
  background-color:#EEE8D5;
  height:50px;
  text-align:center;
  cursor: url(cursors/openhand.cur), move;
}

.year-header input {
  text-align:center;
  background:#EEE8D5;
  display:block;
  margin:0 auto;
}

.year-header:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  z-index:10;
}

.error {
  color:red;

  -moz-animation: cssAnimation 0s ease-in 9s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 9s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 9s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 9s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

#menu {
  position:fixed;
  bottom:10px;
  left:10px;
}

#helpbutton {
  position:fixed;
  bottom:10px;
  right:10px;
}

#trash {
  position:fixed;
  bottom:50px;
  right:50px;
  width:80px;
  height:90px;
  z-index:100;
  background-image:url('images/trash-closed.png');
}

#trash:hover {
  background-image:url('images/trash-open.png');
}

.dropup {
  z-index:100;
}
