.course {
  position:relative;
  width:65px;
  background-color:white;
  height:80px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width:1px;
  cursor: pointer;
  cursor: url(cursors/openhand.cur), move;
  z-index: 5;
  padding:1px;
}

.course p,input {
  text-align:center
}

.course:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  z-index:10;
}

.courseInner {
  position:absolute;
  width:80%;
  margin: auto;
  right: 0;
  left: 0;
  bottom:0;

  text-align:center;
  line-height:110%;

  background-color:white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.course-detail p {
    border: none;
    outline: none;
    background-color: transparent;

    font-size:60%;
    font-weight:bold;
    text-align:center;
}

.course-detail input {
    border: none;
    outline: none;
    background-color: transparent;
    display:inline;

    font-size:60%;
    font-weight:bold;
    text-align:center;
}

name p{
  font-size:80%;
  line-height:90%;
}

subj p, input {
  display:inline;
}

num p, input {
  display:inline;
}

cred p, input {
  display:inline;
}
