.course {
  position:relative;
  width:65px;
  background-color:white;
  height:80px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width:1px;
  cursor: pointer;
  cursor: url(cursors/openhand.cur), move;
  padding:1px;
  overflow:hidden;
}

.course p,input {
  text-align:center
}

.course:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.courseInner {
  position:absolute;
  width:88%;
  height:40px;
  margin: auto;
  right: 0;
  left: 0;
  bottom:0;
  overflow:hidden;

  background-color:white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.course-detail {
  border: none;
  outline: none;
  background-color: transparent;
  display:inline;
  font-size:62%;
  font-weight:bold;
  text-align:center;
}

.course-name {
  font-size:75%;
  line-height:89%;
  z-index:20px;
}
