
.COMM {
  background-color:pink;
}

.MATH {
  background-color:cyan;
}

.STAT {
  background-color:red;
}

.SWEN {
  background-color:orange;
}

.PHYS {
  background-color:teal;
}

.CHEM {
  background-color:magenta;
}

.CHMA {
  background-color:purple;
}

.CHMB {
  background-color:lavender;
}

.FNRT {
  background-color:coral;
}

.WREC {
  background-color:silver;
}

.BIOL {
  background-color:green;
}

.BIOG {
  background-color:chartreuse;
}

.CSCI {
  background-color:yellow;
}

.CSEC {
  background-color:blue;
}

.FOUND {
  border-color:purple;
}

.PERSP {
  border-color:violet;
}

.IMRSN {
  border-color:pink;
}

.APPDM {
  border-color:green;
}

.ELECT {
  border-color:teal;
}

.ENGEL {
  border-color:red;
}
