html, body {
  height: 100%;
  background: -webkit-linear-gradient(#191919, #141414,#191919); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#191919, #141414,#191919); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#191919, #141414,#191919); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#191919, #141414,#191919); /* Standard syntax */
}


.vertical-center {

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

.jumbotron {
  background-color:#DFE2DB;
  border-radius:0px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:0;
  left:0;
}
