#sidebar {
  position:fixed;
  right:0;
  bottom:0;
  height:100%;
  width:20%;
  max-width:250px;
  z-index:100px;
  overflow-y:scroll;
  overflow-x:visible;
 
  border-left: 2px solid gray; 
  background-color:#EEE8D5;
}

.sidebar-button {
  position:fixed;
  right:0;
  bottom:0;
  height:25px;
  width:50px;
}
