<div class="years">
    <div class="year-col" ng-repeat="year in plan.years track by $index">
        <div class="year-header">
            <h3 ng-if="::!readonly" editable-text="year.title"></h3>
            <h3 ng-if="::readonly">{{::year.title}}</h3>
        </div>
        <button class="btn btn-default btn-xs" ng-click="addSemester(year)" ng-if="::!readonly">
            Add Semester
        </button>
        <button class="btn btn-default btn-xs" ng-click="removeYear($index)" ng-if="::!readonly">
            Delete Year
        </button>
        <div class="row year-row">
            <div ng-repeat="semester in year.semesters track by $index" class="semester-col">
                <div class="courseCol list">
                    <ul class="courses" data-as-sortable="sortableOptions" data-ng-model="semester.classes"
                        data-is-disabled="::readonly">
                        <li data-ng-repeat="c in semester.classes" data-as-sortable-item>
                        <div data-as-sortable-item-handle>
                            <course course="c" delete="deleteCourse" readonly="readonly"
                            ng-class="{ 'course-warning': !hasPrereqs(c) }"></course>
                        </div>
                        </li>
                        <button ng-if="::!readonly" class="btn btn-default add-class-btn" data-as-sortable-item
                            ng-click="addCourse(semester)">
                            <i class="fa fa-plus" aria-hidden="true" margin-top="5px"></i>
                        </button>
                    </ul>
                </div>
                <button ng-if="::!readonly" class="btn btn-default btn-xs" ng-click="removeSemester(year,$index)">Delete</button>
            </div>
        </div>
    </div>

    <button ng-if="::!readonly" class="btn btn-default add-year-btn"
        ng-click="addYear()" style="margin-left:15px">Add Year</button>
</div>
