@import url("course.css");
@import url("coursecolors.css");
@import url("sidebar.css");

html {
    margin:0;
    padding:0;
    height:100%;
    background-color:#DFE2DB;
}

body {
    margin:0;
    padding:0;
    height:100%;
    background-color:#DFE2DB;
}

.plan-title {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding-top:2px;
    margin-top:2px;
}

.row {
    display:table-row;
}

.year-col {
    padding-left:15px;
}

.year-col-placeholder {
    display:table-cell;
    padding-left:15px;
    vertical-align:top;
    white-space:normal;
    min-width:150px;
    background-color:gray;
}

.semester-col {
    display:table-cell;
    padding-left:10px;
    vertical-align:top;
}

.addCourseButton {
    margin:auto;
}

.cap {
    text-transform:uppercase;
}

.list {
    list-style: none outside none;
    margin: 10px 0 30px;
    border: 2px solid gray;
    margin: 10px 10px 0 0;
    padding: 5px;
}

.courseCol {
    background-color:#EEE8D5;
    width:80px;
    min-height:390px;
    max-height:800px;
    text-align:center;
}

.year-row {
    margin-top:20px;
}

.year-header {
    background-color:#EEE8D5;
    border: 2px solid gray;
    cursor: url(cursors/openhand.cur), move;

    h3 {
        margin: 0;
    }    
}

//.year-header input {
//    text-align:center;
//    background:#EEE8D5;
//    display:block;
//    margin:0 auto;
//}

.year-header:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    z-index:10;
}

.error {
    color:red;

    -moz-animation: cssAnimation 0s ease-in 9s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 9s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 9s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 9s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


.course-edit-modal {
    .main-course-info {
        display: flex;
        flex-wrap: wrap;
    }

    .prereq-form {
        display: flex;
        margin-bottom: 5px;

        input {
            flex: 1;
            border-radius: 0;
        }

        button {
            flex: 0 0 auto;
            border-radius: 0;
        }

        .right-side {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .left-side {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .no-right-border {
            border-right: 0;
        }
    }
}

.home {
    display: flex;
    flex-direction: column;

    .navbar {
        flex: 0 0 auto;
    }

    .content {
        flex: 1;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
    }

    .years {
        flex: 1;
    }
}

.years {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    text-align: center;
    overflow: auto;

    .add-year-btn {
        max-height: 40px;
    }
}

.deletable-list-item {
    display: table;
    width: 100%;
    vertical-align: middle;

    i {
        display: none;
        cursor: pointer;
        vertical-align: inherit;
    }

    p {
        margin: 0;
    }


    &:hover {
        i {
            display: table-cell;
        }
    }
}

.view-public-plans {
    .modal-body {
        display: flex;
    }

    .plan-list {
        flex: 0 0 auto;
    }

    .plan-preview {
        flex: 1;
        overflow-x: auto;
    }
}
