
.COMM {
  background-color:pink;
}

.MATH {
  background-color:cyan;
}

.STAT {
  background-color:#FF6666;
}

.SWEN {
  background-color:orange;
}

.PHYS {
  background-color:teal;
}

.CHEM {
  background-color:magenta;
}

.CHMA {
  background-color:purple;
}

.CHMB {
  background-color:lavender;
}

.FNRT {
  background-color:coral;
}

.WREC {
  background-color:silver;
}

.BIOL {
  background-color:green;
}

.BIOG {
  background-color:chartreuse;
}

.CSCI {
  background-color:yellow;
}

.CSEC {
  background-color:blue;
}

.CMPE {
  background-color:lightgreen;
}

.ENGL {
  background-color:#A37519;
}

.FOUND {
  background: repeating-linear-gradient(
  45deg,
  yellow,
  yellow 10px,
  #FFB870 10px,
  #FFB870 20px
  );
}

.PERSP {
  background: repeating-linear-gradient(
  45deg,
  #E1C4FF,
  #E1C4FF 10px,
  #FFCCFF 10px,
  #FFCCFF 20px
  );
}

.IMRSN {
  background: repeating-linear-gradient(
  45deg,
  #FFBCDE,
  #FFBCDE 10px,
  #FFCCFF 10px,
  #FFCCFF 20px
  );
}

.APPDM {
  background: repeating-linear-gradient(
  45deg,
  lightgreen,
  lightgreen 10px,
  #CCFFFF 10px,
  #CCFFFF 20px
  );
}

.ELECT {
  background: repeating-linear-gradient(
  45deg,
  #99CCFF,
  #99CCFF 10px,
  #CCFFFF 10px,
  #CCFFFF 20px
  );
}

.ENGEL {
  background: repeating-linear-gradient(
  45deg,
  #FF9999,
  #FF9999 10px,
  pink 10px,
  pink 20px
  );
}
