.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 50%;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
 
.flyover-centered {
   top: 50%;
   transform: translate(-50%, -50%);
}

.flyover.in {
   left: 59%;
}

.flyover-bottom{
   bottom: 10px;
   border-radius:5px;
}
