html, body {
  height: 100%;
  background: -webkit-linear-gradient(#191919, #141414,#191919); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#191919, #141414,#191919); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#191919, #141414,#191919); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#191919, #141414,#191919); /* Standard syntax */
}

.jumbotron {
  background-color:#DFE2DB;
  border-radius:0px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:0;
  left:0;
}
