<div ng-include="'templates/navbar.html'"></div>
<div class="container-main container" style="overflow-x:scroll;width:100%;">
    <center>
        <h2 class="plan-title" contenteditable ng-model="title"></h2>
        <!-- Display for when there are no years -->
        <div ng-include="'templates/empty-view.html'"></div>

        <div class="row" ng-model="years" ui-sortable="{ 'placeholder': 'year-col', 'connectWith': '.year-col-placeholder' }">
            <div class="year-col" ng-repeat="year in years track by $index">
                <div class="year-header">
                    <center><h3 ng-model="years[$index].title" contenteditable onclick='$(this).focus();'></h3></center>
                </div>
                <button class="btn btn-default btn-xs" ng:click="addSemester(year)">Add Semester</button>
                <button class="btn btn-default btn-xs" ng:click="removeYear($index)">Delete Year</button>
                <div class="row year-row">
                    <div ng-repeat="semester in year.semesters track by $index" class="semester-col">
                        <ul class="connectedSortable courseCol list" ng-model="semester.classes"
                            ui-sortable="sortableOptionsCourse">
                            <div ng-repeat="c in semester.classes" ng-include="'templates/course.html'"> </div>
                        </ul>
                        <button class="btn btn-default btn-xs" ng:click="removeSemester(year,$index)">Delete</button>
                    </div>
                </div><!-- row -->
            </div><!-- col -->
        </div><!-- row -->
    </center>
</div> <!-- container-->
