<div class="course-edit-modal">
    <div class="modal-header">
        <h3 class="modal-title">Edit Course</h3>
    </div>
    <div class="modal-body">
        <div class="main-course-info">
            <labeled-text name="'Name'" model="c.name" style="flex:1 0 100%"></labeled-text>
            <labeled-text name="'Department'" model="c.dept" style="flex:1"></labeled-text>
            <labeled-text name="'Number'" model="c.num" style="flex:1"></labeled-text>
            <labeled-text name="'Credits'" model="c.credits" style="flex:0 0 50px"></labeled-text>
        </div>

        <label for="prereq-dept">Prerequisites</label>
        <div class="prereq-form">
            <input type="text" class="form-control left-side no-right-border" ng-model="prereq.dept" />
            <input type="text" class="form-control no-right-border" ng-model="prereq.num" />
            <button class="btn btn-default right-side" ng-click="addPrereq()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div ng-repeat="prereq in c.prereqs">
            <p>{{prereq.dept + '-' + prereq.num}}</p>
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" ng-click="delete()">Delete</button>
    </div>
</div>

