<!DOCTYPE html>
<html ng-app="CoursePlanner">
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/CoursePlanner.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/flyover.css">
  <title>Course Planner</title>
</head>
<body ng-controller="mainCtrl">

  <div ng-include="'templates/navbar.html'"></div>
  <div class="container-main container" style="overflow-x:scroll;width:100%;">
    <center>
      <h2 class="plan-title" contenteditable ng-model="title"></h2>
      <!-- Display for when there are no years -->
      <div ng-include="'templates/empty-view.html'"></div>

      <div class="row" ng-model="years" ui-sortable="{ 'placeholder': 'year-col', 'connectWith': '.year-col-placeholder' }">
        <div class="year-col" ng-repeat="year in years track by $index">
          <div class="year-header">
            <center><h3 ng-model="years[$index].title" contenteditable onclick='$(this).focus();'></h3></center>
          </div>
          <button class="btn btn-default btn-xs" ng:click="addSemester(year)">Add Semester</button>
          <button class="btn btn-default btn-xs" ng:click="removeYear($index)">Delete Year</button>
          <div class="row year-row">
            <div ng-repeat="semester in year.semesters track by $index" class="semester-col">
              <ul class="connectedSortable courseCol list" ng-model="semester.classes"
              ui-sortable="sortableOptionsCourse">
              <div ng-repeat="c in semester.classes" ng-include="'templates/course.html'"> </div>
            </ul>
            <button class="addCourseButton btn btn-default btn-xs" ng:click="addCourse(semester)">Add</button>
            <button class="btn btn-default btn-xs" ng:click="removeSemester(year,$index)">Delete</button>
          </div>
        </div><!-- row -->
      </div><!-- col -->
    </div><!-- row -->
  </center>
</div> <!-- container-->


<!-- Sidebar -->
<div ng-controller="sidebarCtrl">
  <div id="sidebar">
    <center>
      <h4>{{title}}</h4>
      <div ng-repeat="plan in plans">
        <p>{{plan.title}}</p>
      </div>
    </center>
  </div>
  <!-- Button to toggle display of sidebar -->
  <sidebarbutton></sidebarbutton>
</div>

<!-- Help Modal -->
<div ng-include="'templates/help_modal.html'"></div>
<!-- Login Modal -->
<loginmodal></loginmodal>
<errorflyover></errorflyover>
<!-- Default Plan Modal -->
<div id="dialogA" title="Default Plans">
  <select class="form-control" id="defaultPlanSelection">
    <option value="SWEN">SWEN</option>
    <option value="CSCI">CSCI</option>
  </select>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.13.1/sortable.min.js"></script>
<script src="js/directives/contenteditable.js"></script>
<script src="js/services/plans.js"></script>
<script src="js/controllers/main.js"></script>
<script src="js/controllers/auth.js"></script>
<script src="js/controllers/sidebar.js"></script>
<script src="js/controllers/navbar.js"></script>
<script src="js/directives/sidebartoggle.js"></script>
<script src="js/directives/auth.js"></script>
<script src="js/core.js"></script>

<script>
$(document).ready(function () {
  $('#dialogA').dialog({
    autoOpen: false,
    width: 350,
    modal: true,
    buttons: {
      Open: function() {
        deptSelect = document.getElementById("defaultPlanSelection");
        dept = deptSelect.options[deptSelect.selectedIndex].value;
        //load the file
        angular.element('#dialogA').scope().open(dept);
        $(this).dialog("close");
      }, Cancel: function() {
        $(this).dialog("close");
      }
    }
  });

  $('#sidebar').hide();

  $(document).tooltip();
});
</script>
</body>
</html>
