<div>
    <div class="modal-header">
        <h3 class="modal-title">Register</h3>
    </div>
    <div class="modal-body">
        <labeled-text name="'Username'" model="user.username"></labeled-text>
        <label for="school">School</label>
        <input type="text" id="school" placeholder="School" ng-model="user.school" class="form-control" 
        typeahead-editable="false"
        uib-typeahead="school.name for school in schools | filter:$viewValue | limitTo:3" />
        <labeled-pass name="'Password'" model="user.password"></labeled-pass>
        <labeled-pass name="'Repeat Password'" model="repeatedPassword"></labeled-pass>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="register()">Register</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>

