<form role="form">
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control input-sm" name="name" id="editedCourseName" value="{{c.name}}" />
      </div>
            
      <div class="form-group">
        <label for="subj">Subject:</label>
        <input class="form-control input-sm" name="subj" id="editedCourseSubject" value="{{c.subj}}"/>
      </div>
    </div><!-- col -->

    <div class="col-md-3">
      <div class="form-group">
        <label for="num">Number:</label>
        <input class="form-control input-sm" name="num" id="editedCourseNum" value="{{c.num}}"/>
      </div>
      
      <div class="form-group">
        <label for="cred">Credits:</label>
        <input class="form-control input-sm" name="cred" id="editedCourseCred" value="{{c.credits}}"/>
      </div>
    </div><!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="details">Details:</label>
        <textarea class="form-control" rows="3" name="details" id="editedCourseDetails"> {{c.details}}</textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <label for="year" class="control-label input-group" id="editedCourseStatus">Status:</label>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default" ng-click="setStatus('todo')" ng-class='{active: c.status == "todo"}'>
        <input type="radio" name="status">To Do
      </label>
      <label class="btn btn-default" ng-click="setStatus('taking')" ng-class='{active: c.status == "taking"}'>
        <input type="radio" name="status">Taking
      </label>
      <label class="btn btn-default" ng-click="setStatus('completed')" ng-class='{active: c.status == "completed"}'>
        <input type="radio" name="status">Completed
      </label>
    </div>
  </div>
</form>
