<li class="course {{c.subj}}">
  <div class="course-name" ng-model="c.name" contenteditable onclick='$(this).focus();'></div>

  <div class="courseInner">
    <div class="course-detail" ng-model="c.subj" contenteditable onclick='$(this).focus();'>
    </div>-<div class="course-detail" ng-model="c.num" contenteditable onclick='$(this).focus();'>
    </div>
    <br>
    <small>
    (</small><div class="course-detail" ng-model="c.credits" contenteditable onclick='$(this).focus();'>
    </div><small>)</small>
  </div>
</li>
