<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body" id="help-body">
		-Drag courses to reorder them
		-Drag courses to trash can to delete them
		-Click once on a course name, subject, number, or credit number to change it
		
		-Click "Download Plan" in the menu to save a text representation
		-Click "Upload Plan" in the menu to upload text from a previous save
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- Modal -->
