<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Help</h3>
      </div>
      <div class="modal-body" id="help-body">
		<p>-Drag courses to reorder them</p>
		<p>-Double click on a course to edit or delete it</p>

		<p>-Click "Download Plan" in the menu to save a text representation</p>
		<p>-Click "Upload Plan" in the menu to upload text from a previous save</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- Modal -->
