<div class="modal fade" ng-controller="authCtrl" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Login</h3>
      </div>
      <form role="form">
        <div class="modal-body" id="help-body">
	  <div class="form-group">
            <label for="exampleInputEmail1">Username:</label>
            <input type="text" ng-model="username" class="form-control" id="exampleInputEmail1" placeholder="User">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>    
        </div>
        <div class="modal-footer">
          <div style="display:inline-block;float:left;">
            <button ng:click="login()" class="btn btn-default">Login</button>
            <button ng:click="signup()" class="btn btn-default">Sign Up</button>
          </div>
          <p style="display:inline-block;color:red;">{{error}}</p>
          <div style="display:inline-block;float:right;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> <!-- Modal -->
