<div ng-controller="sidebarCtrl">
  <div id="sidebar">
    <center>
      <h4>{{title}}</h4>
      <input class="form-control" placeholder="Search" type="text" ng-model="query" />
      <br/>
      <button createbutton>Create</button>
      <div class="row search-results-container">
        <div class="col-md-6" ng-hide="evenEmpty()">
          <ul class="semester-col sidebar-list leftlist" ui-sortable="sortableOptionsCourse" ng-model="courses">
            <div ng-repeat="c in evencourses" ng-include="'templates/course.html'"> </div>
          </ul>
        </div>
        <div class="col-md-6" ng-hide="oddEmpty()">
          <ul class="semester-col sidebar-list rightlist" ui-sortable="sortableOptionsCourse" ng-model="courses">
            <div ng-repeat="c in oddcourses" ng-include="'templates/course.html'"> </div>
          </ul>
        </div>
      </div>
    </center>
  </div>
  <!-- Button to toggle display of sidebar -->
  <sidebarbutton></sidebarbutton>
</div>

<!-- hide the sidebar by default -->
<script>
  $('#sidebar').hide();
</script>
