<div ng-controller="sidebarCtrl">
  <div id="sidebar">
    <center>
      <h4>{{title}}</h4>
      <input type="text" ng-model="query" />
      <ul class="semester-col list" ui-sortable="sortableOptionsCourse" ng-model="courses">
        <div ng-repeat="c in courses | filter:query" ng-include="'templates/course.html'"> </div>
      </ul>
    </center>
    <button ng-click="create()">Create</button>
  </div>
  <!-- Button to toggle display of sidebar -->
  <sidebarbutton></sidebarbutton>
</div>

<!-- hide the sidebar by default -->
<script>
  $('#sidebar').hide();
</script>
